<?xml version="1.0"?>
<config>
	<modules>
		<Werules_Chatbot>
		<version>1.0.0</version>
		</Werules_Chatbot>
	</modules>
	<frontend>
		<routers>
		<chatbot>
			<use>standard</use>
			<args>
				<module>Werules_Chatbot</module>
				<frontName>chatbot</frontName>
			</args>
		</chatbot>
		</routers>
			<layout>
			<updates>
				<chatbot>
				<file>chatbot.xml</file>
				</chatbot>
			</updates>
			</layout>
	</frontend>
	<global>
		<helpers>
		<chatbot>
			<class>Werules_Chatbot_Helper</class>
		</chatbot>
		</helpers>
		<blocks>
		<chatbot>
			<class>Werules_Chatbot_Block</class>
		</chatbot>
		</blocks>
		<models>
		<chatbot>
			<class>Werules_Chatbot_Model</class>
			<resourceModel>chatbot_mysql4</resourceModel>
		</chatbot>
		<chatbot_mysql4>
			<class>Werules_Chatbot_Model_Mysql4</class>
			<entities>
				<message>
					<table>werules_chatbot_message</table>
				</message>
				<chatbotuser>
					<table>werules_chatbot_chatbotuser</table>
				</chatbotuser>
				<chatbotapi>
					<table>werules_chatbot_chatbotapi</table>
				</chatbotapi>
			</entities>
		</chatbot_mysql4>
		</models>
		<resources>
			<chatbot_setup>
				<setup>
				<module>Werules_Chatbot</module>
				</setup>
				<connection>
				<use>core_setup</use>
				</connection>
			</chatbot_setup>
			<chatbot_write>
				<connection>
				<use>core_write</use>
				</connection>
			</chatbot_write>
			<chatbot_read>
				<connection>
				<use>core_read</use>
				</connection>
			</chatbot_read>
		</resources>
	</global>
	<crontab>
		<jobs>
			<chatbot_execute>
				<schedule><cron_expr>*/1 * * * *</cron_expr></schedule>
				<run><model>chatbot/cron::execute</model></run>
			</chatbot_execute>
		</jobs>
	</crontab>
</config> 