<?xml version="1.0"?>
<config>
	<modules>
		<Werules_Chatbot>
			<version>1.0.0</version>
		</Werules_Chatbot>
	</modules>
	<frontend>
		<translate>
			<modules>
				<Werules_Chatbot>
					<files>
						<default>Werules_Chatbot.csv</default>
					</files>
				</Werules_Chatbot>
			</modules>
		</translate>
		<layout>
			<updates>
				<chatbot>
					<file>chatbot_customer_index.xml</file>
				</chatbot>
			</updates>
			<updates>
				<chatbot>
					<file>chatbot_webhook_index.xml</file>
				</chatbot>
			</updates>
			<updates>
				<chatbot>
					<file>chatbot_webhook_messenger.xml</file>
				</chatbot>
			</updates>
			<updates>
				<chatbot>
					<file>chatbot_webhook_telegram.xml</file>
				</chatbot>
			</updates>
		</layout>
		<routers>
			<chatbot>
				<use>standard</use>
				<args>
					<module>Werules_Chatbot</module>
					<frontName>chatbot</frontName>
				</args>
			</chatbot>
		</routers>
	</frontend>
	<global>
		<resources>
			<werules_chatbot_setup>
				<setup>
					<module>Werules_Chatbot</module>
					<class>Werules_Chatbot_Model_Resource_Setup</class>
				</setup>
			</werules_chatbot_setup>
		</resources>
		<blocks>
			<werules_chatbot>
				<class>Werules_Chatbot_Block</class>
			</werules_chatbot>
		</blocks>
		<helpers>
			<werules_chatbot>
				<class>Werules_Chatbot_Helper</class>
			</werules_chatbot>
		</helpers>
		<models>
			<werules_chatbot>
				<class>Werules_Chatbot_Model</class>
				<resourceModel>werules_chatbot_resource</resourceModel>
			</werules_chatbot>
			<werules_chatbot_resource>
				<class>Werules_Chatbot_Model_Resource</class>
				<entities>
					<message>
						<table>werules_chatbot_message</table>
					</message>
					<chatbotuser>
						<table>werules_chatbot_chatbotuser</table>
					</chatbotuser>
					<chatbotapi>
						<table>werules_chatbot_chatbotapi</table>
					</chatbotapi>
					<message_store>
						<table>werules_chatbot_message_store</table>
					</message_store>
					<chatbotuser_store>
						<table>werules_chatbot_chatbotuser_store</table>
					</chatbotuser_store>
					<chatbotapi_store>
						<table>werules_chatbot_chatbotapi_store</table>
					</chatbotapi_store>
				</entities>
			</werules_chatbot_resource>
		</models>
	</global>
	<crontab>
		<jobs>
			<werules_chatbot_worker>
				<schedule>
					<cron_expr>*/1 * * * *</cron_expr> <!-- every minute -->
				</schedule>
				<run>
					<model>chatbot/cron::execute</model>
				</run>
			</werules_chatbot_worker>
		</jobs>
	</crontab>
	<adminhtml>
		<layout>
			<updates>
				<werules_chatbot>
					<file>werules_chatbot.xml</file>
				</werules_chatbot>
			</updates>
		</layout>
		<translate>
			<modules>
				<Werules_Chatbot>
					<files>
						<default>Werules_Chatbot.csv</default>
					</files>
				</Werules_Chatbot>
			</modules>
		</translate>
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Werules_Chatbot before="Mage_Adminhtml">Werules_Chatbot_Adminhtml</Werules_Chatbot>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
</config>
