<?xml version="1.0"?>
<config>
	<tabs>
		<werules_chatbot translate="label" module="werules_chatbot">
			<label>Chatbot Integration</label>
			<sort_order>50</sort_order>
		</werules_chatbot>
	</tabs>
	<sections>
		<werules_chatbot_general translate="label" module="werules_chatbot">
			<label>General Settings</label>
			<tab>werules_chatbot</tab>
			<frontend_type>text</frontend_type>
			<sort_order>0</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<general translate="label">
					<label>General Settings</label>
					<comment><![CDATA[
					<h3>Magento Chatbot v1.0.0</h3>
					<p>To use this module you'll have to use SSL in your store.</p>
					]]></comment>
					<frontend_type>text</frontend_type>
					<sort_order>0</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enable translate="label">
							<label>Enable Module</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_enabledisable</source_model>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Enable module.</comment>
						</enable>
						<custom_key translate="label">
							<label>Your Secret Key</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<validate>validate-alphanum</validate>
							<comment>This is Your Custom Secret Key Used For The Webhook URL, to Activate/Deactivate The API Webhook For Telegram, And to Use as Your Challenge Hub For Facebook. Alphanumeric Only! Access http://(YOUR_STORE_URL)/chatbot/chatdata/(API)/webhook/(YOUR_CUSTOM_KEY) to Set The Webhook, change API to "telegram" or "facebook".</comment>
						</custom_key>
						<list_empty_categories translate="label">
							<label>List Empty Categories</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Enable listing of categories with no products or unallowed products (this module supports only simple products for now).</comment>
						</list_empty_categories>
						<!--<message_queue_mode translate="label">-->
							<!--<sort_order>3</sort_order>-->
						<!--</message_queue_mode>-->
						<enable_post_log translate="label">
							<label>Enable Log</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Log will be at root/var/log/.</comment>
						</enable_post_log>
						<enable_wit_ai translate="label">
							<label>Enable wit.ai</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Enable wit.ai Natural Language Processor.</comment>
						</enable_wit_ai>
						<wit_ai_token translate="label">
							<label>wit.ai Server Access Token</label>
							<frontend_type>text</frontend_type>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>wit.ai Server Access Token.</comment>
						</wit_ai_token>
					</fields>
				</general>
			</groups>
		</werules_chatbot_general>
		<werules_chatbot_messenger translate="label" module="werules_chatbot">
			<label>Messenger Settings</label>
			<tab>werules_chatbot</tab>
			<frontend_type>text</frontend_type>
			<sort_order>1</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<general translate="label">
				<label>Messenger Settings</label>
				<frontend_type>text</frontend_type>
				<sort_order>1</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
				<fields>
					<enable translate="label">
						<label>Enable Messenger Bot</label>
						<frontend_type>select</frontend_type>
						<source_model>adminhtml/system_config_source_enabledisable</source_model>
						<sort_order>0</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						<comment>Enable Messenger bot.</comment>
					</enable>
					<!--<enable_hub_challenge translate="label"></enable_hub_challenge>-->
					<!--<disabled_message translate="label"></disabled_message>-->
					<!--<app_id translate="label"></app_id>-->
					<!--<api_key translate="label"></api_key>-->
					<!--<bot_username translate="label"></bot_username>-->
					<!--<page_id translate="label"></page_id>-->
					<!--<domain_whitelisted translate="label"></domain_whitelisted>-->
					<!--<enable_messenger_box translate="label"></enable_messenger_box>-->
					<!--<welcome_message translate="label"></welcome_message>-->
					<!--<enable_message_options translate="label"></enable_message_options>-->
					<!--<message_options translate="label"></message_options>-->
					<!--<about_message translate="label"></about_message>-->
					<!--<help_message translate="label"></help_message>-->
					<!--<enable_help_command_list translate="label"></enable_help_command_list>-->
					<!--<commands_list translate="label"></commands_list>-->
					<!--<enable_default_replies translate="label"></enable_default_replies>-->
					<!--<default_replies translate="label"></default_replies>-->
					<!--<enable_nlp_replies translate="label"></enable_nlp_replies>-->
					<!--<nlp_entity_prefix translate="label"></nlp_entity_prefix>-->
					<!--<nlp_replies translate="label"></nlp_replies>-->
					<!--<fallback_message translate="label"></fallback_message>-->
					<!--<fallback_message_quantity translate="label"></fallback_message_quantity>-->
				</fields>
				</general>
			</groups>
		</werules_chatbot_messenger>
		<werules_chatbot_danger translate="label" module="werules_chatbot">
			<label>Danger Zone</label>
			<tab>werules_chatbot</tab>
			<frontend_type>text</frontend_type>
			<sort_order>2</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<general translate="label">
					<label>Danger Zone</label>
					<comment><![CDATA[
					<h3>Magento Chatbot v1.0.0</h3>
					<p>To use this module you'll have to use SSL in your store.</p>
					<p style='color: red;'><b>You should only change settings here if you know what you're doing.</b></p>
					<div class='message-system-inner' id='werules_scheduled_clearing' style='display: none; border-width: 0.1rem; padding: 0 1.5rem 0 3rem;'>
						<h2 style='color: red;'>A 'Message Clearing Process' is scheduled for the next minute. Please wait.</h2>
						<p>If a minute has passed and nothing happened, please check your cron configuration in your server.</p>
					</div>
					]]></comment>
					<frontend_type>text</frontend_type>
					<sort_order>2</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<clear_message_pending translate="label">
							<label>Clear Message Pending List</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_enabledisable</source_model>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Clear message pending list. After changing this value and saving, a process to clear message pending list will be schedule for the next minute.</comment>
						</clear_message_pending>
						<clear_message_sender_id translate="label">
							<label>Sender Chat ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>If you like, you can specify a Sender Chat ID to filter the message clearing process.</comment>
						</clear_message_sender_id>
					</fields>
				</general>
			</groups>
		</werules_chatbot_danger>
	</sections>
</config>
