<?xml version="1.0"?>
<config>
	<tabs>
		<werules_chatbot translate="label" module="werules_chatbot">
			<label>Chatbot Integration</label>
			<sort_order>50</sort_order>
		</werules_chatbot>
	</tabs>
	<sections>
		<werules_chatbot_general translate="label" module="werules_chatbot">
			<label>General Settings</label>
			<tab>werules_chatbot</tab>
			<frontend_type>text</frontend_type>
			<sort_order>0</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<general translate="label">
					<label>General Settings</label>
					<comment><![CDATA[
					<h3>Magento Chatbot v1.0.0</h3>
					<p>To use this module you'll have to use SSL in your store.</p>
					]]></comment>
					<frontend_type>text</frontend_type>
					<sort_order>0</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enable translate="label">
							<label>Enable Module</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_enabledisable</source_model>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Enable module.</comment>
						</enable>
						<custom_key translate="label">
							<label>Your Secret Key</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<validate>validate-alphanum</validate>
							<comment>This is Your Custom Secret Key Used For The Webhook URL, to Activate/Deactivate The API Webhook For Telegram, And to Use as Your Challenge Hub For Facebook. Alphanumeric Only! Access http://(YOUR_STORE_URL)/chatbot/chatdata/(API)/webhook/(YOUR_CUSTOM_KEY) to Set The Webhook, change API to "telegram" or "facebook".</comment>
						</custom_key>
						<list_empty_categories translate="label">
							<label>List Empty Categories</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Enable listing of categories with no products or unallowed products (this module supports only simple products for now).</comment>
						</list_empty_categories>
						<!--<message_queue_mode translate="label">-->
							<!--<sort_order>3</sort_order>-->
						<!--</message_queue_mode>-->
						<enable_post_log translate="label">
							<label>Enable Log</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Log will be at root/var/log/.</comment>
						</enable_post_log>
						<enable_wit_ai translate="label">
							<label>Enable wit.ai</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Enable wit.ai Natural Language Processor.</comment>
						</enable_wit_ai>
						<wit_ai_token translate="label">
							<label>wit.ai Server Access Token</label>
							<frontend_type>text</frontend_type>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>wit.ai Server Access Token.</comment>
						</wit_ai_token>
					</fields>
				</general>
			</groups>
		</werules_chatbot_general>
		<werules_chatbot_messenger translate="label" module="werules_chatbot">
			<label>Messenger Settings</label>
			<tab>werules_chatbot</tab>
			<frontend_type>text</frontend_type>
			<sort_order>1</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<general translate="label">
				<label>Messenger Settings</label>
				<comment><![CDATA[
				<h3>Magento Chatbot v1.0.0</h3>
				<p>To use this module you'll have to use SSL in your store.</p>
				]]></comment>
				<frontend_type>text</frontend_type>
				<sort_order>1</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
				<fields>
					<enable translate="label">
						<label>Enable Messenger Bot</label>
						<frontend_type>select</frontend_type>
						<source_model>adminhtml/system_config_source_enabledisable</source_model>
						<sort_order>0</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						<comment>Enable Messenger bot.</comment>
					</enable>
					<enable_hub_challenge translate="label">
						<label>Enable Hub Challenge Verification</label>
						<frontend_type>select</frontend_type>
						<source_model>adminhtml/system_config_source_enabledisable</source_model>
						<sort_order>1</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						<comment>Enable Hub Challenge verification.</comment>
					</enable_hub_challenge>
					<disabled_message translate="label">
						<label>Unavailability Message</label>
						<frontend_type>text</frontend_type>
						<sort_order>2</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						<comment>Message to send when bot is disabled. Leave it empty to send no message. Please check the maximum size for messages on Messenger API, otherwise your message might not be sent.</comment>
					</disabled_message>
					<app_id translate="label">
						<label>Facebook Application ID</label>
						<frontend_type>text</frontend_type>
						<sort_order>3</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						<comment>Your Facebook Application ID.</comment>
					</app_id>
					<api_key translate="label">
						<label>Page Access Token</label>
						<frontend_type>text</frontend_type>
						<sort_order>4</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						<comment>Your page access token.</comment>
					</api_key>
					<bot_username translate="label">
						<label>Facebook Page Username</label>
						<frontend_type>text</frontend_type>
						<sort_order>5</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						<comment>Facebook page username. If you don't know, leave it blank.</comment>
					</bot_username>
					<page_id translate="label">
						<label>Facebook Page ID</label>
						<frontend_type>text</frontend_type>
						<sort_order>6</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						<comment>Facebook Page ID. If you don't know, leave it blank and we fill it for you.</comment>
					</page_id>
					<domain_whitelisted translate="label">
						<label>Whitelisted Domain?</label>
						<frontend_type>select</frontend_type>
						<source_model>adminhtml/system_config_source_yesno</source_model>
						<sort_order>7</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						<comment>Is this domain whitelisted on Facebook? If not, don't worry, we'll whitelist it for you and update this setting.</comment>
					</domain_whitelisted>
					<enable_messenger_box translate="label">
						<label>Enable Messenger Chat Box</label>
						<frontend_type>select</frontend_type>
						<source_model>adminhtml/system_config_source_yesno</source_model>
						<sort_order>8</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						<comment>Enable Messenger chat box.</comment>
					</enable_messenger_box>
					<!--<enable_referral translate="label"></enable_referral>-->
					<!--<referral_message translate="label"></referral_message>-->
					<welcome_message translate="label">
						<label>Welcome Message</label>
						<frontend_type>text</frontend_type>
						<sort_order>11</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						<comment>First message the bot will send to your client. please check the maximum size for messages on Facebook API, otherwise your message might not be sent. you can use "{customername}" to send the customer name.</comment>
					</welcome_message>
					<enable_message_options translate="label">
						<label>Enable Welcome Message Options</label>
						<frontend_type>select</frontend_type>
						<source_model>adminhtml/system_config_source_yesno</source_model>
						<sort_order>12</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						<comment>Enable welcome message options.</comment>
					</enable_message_options>
					<!--<message_options translate="label">-->
						<!--<sort_order>13</sort_order>-->
					<!--</message_options>-->
					<about_message translate="label">
						<label>About Message</label>
						<frontend_type>text</frontend_type>
						<sort_order>14</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						<comment>Message will be sent when customer asks informations about the store. Please check the maximum size for messages on Facebook API, otherwise your message might not be sent.</comment>
					</about_message>
					<help_message translate="label">
						<label>Help Message</label>
						<frontend_type>text</frontend_type>
						<sort_order>15</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						<comment>Message will be sent when customer asks for help. Please check the maximum size for messages on Facebook API, otherwise your message might not be sent.</comment>
					</help_message>
					<enable_help_command_list translate="label">
						<label>Enable Command Listing on Help Command</label>
						<frontend_type>select</frontend_type>
						<source_model>adminhtml/system_config_source_yesno</source_model>
						<sort_order>16</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						<comment>Enable command listing when customer ask for help.</comment>
					</enable_help_command_list>
					<!--<commands_list translate="label">-->
						<!--<sort_order>17</sort_order>-->
					<!--</commands_list>-->
					<enable_default_replies translate="label">
						<label>Enable Default Replies</label>
						<frontend_type>select</frontend_type>
						<source_model>adminhtml/system_config_source_yesno</source_model>
						<sort_order>18</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						<comment>Enable default replies.</comment>
					</enable_default_replies>
					<!--<default_replies translate="label">-->
						<!--<sort_order>19</sort_order>-->
					<!--</default_replies>-->
					<enable_nlp_replies translate="label">
						<label>Enable Natural Language Processor Replies (wit.ai)</label>
						<frontend_type>select</frontend_type>
						<source_model>adminhtml/system_config_source_yesno</source_model>
						<sort_order>20</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						<comment>Enable Natural Language Processor replies.</comment>
					</enable_nlp_replies>
					<nlp_entity_prefix translate="label">
						<label>Natural Language Processor Entity Prefix</label>
						<frontend_type>text</frontend_type>
						<sort_order>21</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						<validate>validate-no-html-tags</validate>
						<comment>Natural Language Processor entity prefix is a prefix name to flag that the request is coming from Messenger.</comment>
					</nlp_entity_prefix>
					<!--<nlp_replies translate="label">-->
						<!--<sort_order>22</sort_order>-->
					<!--</nlp_replies>-->
					<fallback_message translate="label">
						<label>Fallback Message</label>
						<frontend_type>text</frontend_type>
						<sort_order>23</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						<comment>Message will be sent when the bot don't understand customer messages for the Nst time.</comment>
					</fallback_message>
					<fallback_message_quantity translate="label">
						<label>Fallback Quantity</label>
						<frontend_type>text</frontend_type>
						<sort_order>24</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						<validate>input-number validate-number</validate>
						<comment>Number of fallbacks before sending the fallback message.</comment>
					</fallback_message_quantity>
				</fields>
				</general>
			</groups>
		</werules_chatbot_messenger>
		<werules_chatbot_danger translate="label" module="werules_chatbot">
			<label>Danger Zone</label>
			<tab>werules_chatbot</tab>
			<frontend_type>text</frontend_type>
			<sort_order>2</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<general translate="label">
					<label>Danger Zone</label>
					<comment><![CDATA[
					<h3>Magento Chatbot v1.0.0</h3>
					<p>To use this module you'll have to use SSL in your store.</p>
					<p style='color: red;'><b>You should only change settings here if you know what you're doing.</b></p>
					<div class='message-system-inner' id='werules_scheduled_clearing' style='display: none; border-width: 0.1rem; padding: 0 1.5rem 0 3rem;'>
						<h2 style='color: red;'>A 'Message Clearing Process' is scheduled for the next minute. Please wait.</h2>
						<p>If a minute has passed and nothing happened, please check your cron configuration in your server.</p>
					</div>
					]]></comment>
					<frontend_type>text</frontend_type>
					<sort_order>2</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<clear_message_pending translate="label">
							<label>Clear Message Pending List</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_enabledisable</source_model>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Clear message pending list. After changing this value and saving, a process to clear message pending list will be schedule for the next minute.</comment>
						</clear_message_pending>
						<clear_message_sender_id translate="label">
							<label>Sender Chat ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>If you like, you can specify a Sender Chat ID to filter the message clearing process.</comment>
						</clear_message_sender_id>
					</fields>
				</general>
			</groups>
		</werules_chatbot_danger>
	</sections>
</config>
