<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Werules_Chatbot::config_werules_chatbot" title="werules_chatbot_general"/>
						</resource>
					</resource>
				</resource>
				<resource id="Werules_Chatbot::Message" sortOrder="10" title="Message">
					<resource id="Werules_Chatbot::Message_save" sortOrder="10" title="Save Message"/>
					<resource id="Werules_Chatbot::Message_delete" sortOrder="20" title="Delete Message"/>
					<resource id="Werules_Chatbot::Message_update" sortOrder="30" title="Update Message"/>
					<resource id="Werules_Chatbot::Message_view" sortOrder="40" title="View Message"/>
				</resource>
				<resource id="Werules_Chatbot::ChatbotUser" sortOrder="10" title="ChatbotUser">
					<resource id="Werules_Chatbot::ChatbotUser_save" sortOrder="10" title="Save ChatbotUser"/>
					<resource id="Werules_Chatbot::ChatbotUser_delete" sortOrder="20" title="Delete ChatbotUser"/>
					<resource id="Werules_Chatbot::ChatbotUser_update" sortOrder="30" title="Update ChatbotUser"/>
					<resource id="Werules_Chatbot::ChatbotUser_view" sortOrder="40" title="View ChatbotUser"/>
				</resource>
				<resource id="Werules_Chatbot::ChatbotAPI" sortOrder="10" title="ChatbotAPI">
					<resource id="Werules_Chatbot::ChatbotAPI_save" sortOrder="10" title="Save ChatbotAPI"/>
					<resource id="Werules_Chatbot::ChatbotAPI_delete" sortOrder="20" title="Delete ChatbotAPI"/>
					<resource id="Werules_Chatbot::ChatbotAPI_update" sortOrder="30" title="Update ChatbotAPI"/>
					<resource id="Werules_Chatbot::ChatbotAPI_view" sortOrder="40" title="View ChatbotAPI"/>
				</resource>
				<resource id="Werules_Chatbot::PromotionalMessages" sortOrder="10" title="PromotionalMessages">
					<resource id="Werules_Chatbot::PromotionalMessages_save" sortOrder="10" title="Save PromotionalMessages"/>
					<resource id="Werules_Chatbot::PromotionalMessages_delete" sortOrder="20" title="Delete PromotionalMessages"/>
					<resource id="Werules_Chatbot::PromotionalMessages_update" sortOrder="30" title="Update PromotionalMessages"/>
					<resource id="Werules_Chatbot::PromotionalMessages_view" sortOrder="40" title="View PromotionalMessages"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
