<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Werules_Chatbot>
			<version>0.0.2</version>
		</Werules_Chatbot>
	</modules>
	<frontend>
		<translate>
			<modules>
				<Werules_Chatbot>
					<files>
						<default>Werules_Chatbot.csv</default>
					</files>
				</Werules_Chatbot>
			</modules>
		</translate>
		<layout>
			<updates>
				<werules_chatbot module="werules_chatbot">
					<file>werules_chatbot.xml</file>
				</werules_chatbot>
			</updates>
		</layout>
		<routers>
			<chatbot>
				<use>standard</use>
				<args>
					<module>Werules_Chatbot</module>
					<frontName>chatbot</frontName>
				</args>
			</chatbot>
		</routers>
	</frontend>
	
	<global>
		<models>
			<chatbot>
				<class>Werules_Chatbot_Model</class>
				<resourceModel>chatbot_mysql4</resourceModel>
			</chatbot>
			<chatbot_mysql4>
				<class>Werules_Chatbot_Model_Mysql4</class>
				<entities>
					<chatdata>
						<table>wr_chatbot</table>	<!-- Actual table name in sql -->
					</chatdata>
				</entities>
			</chatbot_mysql4>
		</models>
		<blocks>
			<werules_chatbot>
				<class>Werules_Chatbot_Block</class>
			</werules_chatbot>
		</blocks>
		<helpers>
			<werules_chatbot>
				<class>Werules_Chatbot_Helper</class>
			</werules_chatbot>
		</helpers>
		<resources>
			<chatbot_setup>
				<setup>
					<module>Werules_Chatbot</module>
					<class>Mage_Customer_Model_Resource_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</chatbot_setup>
			<chatbot_write>
				<connection>
					<use>core_write</use>
				</connection>
			</chatbot_write>
			<chatbot_read>
				<connection>
					<use>core_read</use>
				</connection>
			</chatbot_read>
		</resources>
	</global>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<chatbot_enable>
											<title>Custom Configuration Section</title>
										</chatbot_enable>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>